<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
      <!-- Left Hand Side -->
      <div class="col-12 col-md-4 col-sm-12 col-lg-3">
        <app-topic-list></app-topic-list>
      </div>

      <!-- Right Hand Side -->
      <div class="col-12 col-md-8 col-sm-12 col-lg-9">
        <h2>Posts <button type="button" class="btn btn-outline-primary">+</button></h2>
        <app-post-list></app-post-list>
      </div>
  </div>
</div>

